body{
    background-color: white;
}
.buss53 {
    background-color:#FFEA3D;
    width: 450px;
    height: 500px;
    text-align: center;
    margin: auto;
}
.buss72 {
    background-color:#FFEA3D;
    width: 450px;
    height: 500px;
    text-align: center;
    margin: auto;
}